/* font-family: 'Raleway', sans-serif;
font-family: 'Teko', sans-serif; */

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    font-family: 'Teko', sans-serif;
}

.font1 {
    font-family: 'Raleway', sans-serif
}

.font2 {
    font-family: 'Teko', sans-serif;
}

#About{
    width: 100%;
    height: 70vh;
    background-image: url('https://scontent.fscl15-1.fna.fbcdn.net/v/t31.0-8/s960x960/19142953_745352322301261_5567483951804681418_o.jpg?_nc_cat=100&_nc_sid=daf655&_nc_ohc=DrccpmMIqgAAX_yp0vZ&_nc_ht=scontent.fscl15-1.fna&_nc_tp=7&oh=f2b3f0e151f834e5e857681abd4c91a3&oe=5F5F4031');
    background-size: contain
}

#Aboutme

#Jobs{
    width: 100%;
    height: 1000px;
    
}

#Experience{
    width: 100%;
    height: 50vh;
    background-color: white;
}

#Contact{
    width: 100%;
    height: 500px;
    background-color: white;
}

.headertxt{
    margin-top: auto;
}

.am{
    text-align: center;
}

.am1{
    text-align: left;
    display: inline-block;
    max-width: 30vw;
}

@media(max-width:800px) {
    #Aboutme{
        display: none;
    }
}

.carousel-item{
    width: 100%;
    height: 46vh;
}


@media(max-width:800px) {
    .carousel-caption{
        display: none;
    }
}

@media(max-width:800px) {
    #Experience,
    .carousel{
        height: 200px;
        margin-bottom: 55px;
       
    }
}

@media(max-width:800px) {
    .carousel-item{
        height: 185px;
    }
}
@media(min-width:800px) {
    #Experience{
        margin-bottom: 35px;
    }
}

@media(min-width:800px) {
    .linea{
        width: 25%;
    }

}

@media(max-width:800px){
    .linea{
        width: 75%;
    }
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 300px;
}

.card-body{
    max-height: 200px;
}

footer{
    height: 50vh;
    background-color: tomato;
}
